
#statistics {
    grid-area: content;
	display: none;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 1.5rem auto;
    grid-template-areas:
        "graphtitle graphtitle graphtitle"
        ". . ."
        "computedresults computedresults computedresults";
}

#graphtitle {
    grid-area: graphtitle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

#typechart {
    grid-area: computedresults;
    display: flex;
}