@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	font-weight: 300;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(129, 178, 238);
}

main {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    grid-template-columns: 1fr 30vw 30vw 10vw 1fr;
    grid-template-rows: 4rem minmax(1rem, 1fr) auto 1rem 3rem 1rem 3rem 1rem 3rem 1rem auto minmax(0.5rem, 1fr) 4rem;
    grid-template-areas: 
        "header header header header header" 
        ". . . . ." 
        ". text text text ." 
        ". . . . ."
        ". searchbar searchbar searchbutton ."
        ". . . . ."
        ". select filterbutton sortbutton ."
        ". . . . ."
        ". showall showall resetbutton ."
        ". . . . ."
        ". results results results ."
        ". . . . ."
        "footer footer footer footer footer";
}

header {
    grid-area: header;
    background-color: rgb(95, 154, 209);
}

h1 {
    grid-area: text;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#searchbar {
	grid-area: searchbar;
	display: block;
	background-color:rgb(120, 166, 223);
	padding: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
    border: solid 1px;
    border-right: 0;
}

#searchbar::placeholder {
    color: rgb(255, 255, 255);
    font-size: 12pt;
}

#searchbutton {
    grid-area: searchbutton;
    display: flex;
    background-color:rgb(120, 166, 223);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: solid 1px;
    border-left: 0;
}

#searchbutton:hover {
	opacity: 0.75;
}

select {
    grid-area: select;
    display: flex;
    background-color:rgb(129, 163, 238);
    padding: 1rem;
    font-size: 12pt;
	align-items: center;
	justify-content: center;
	overflow: hidden;
    user-select: none;
    border: solid 1px;
}

#sortbutton {

    grid-area: sortbutton;
    display: flex;
    background-color:rgb(129, 163, 238);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: 1px solid;
}

#sortbutton:hover {
	opacity: 0.75;
}

#filterbutton {
    grid-area: filterbutton;
    display: flex;
    background-color:rgb(129, 163, 238);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: solid 1px;
}

#filterbutton:hover {
	opacity: 0.75;
}

#showall {
    grid-area: showall;
    display: flex;
    background-color:rgb(224, 182, 162);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
}

#showall:hover {
	opacity: 0.75;
}

#resetbutton {
    grid-area: resetbutton;
    display: flex;
    background-color:rgb(120, 166, 223);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: 1px solid;
}

#resetbutton:hover {
	opacity: 0.75;
}

#results{
    grid-area: results;
    display: block;
}

#aboutUsButton {
    cursor: pointer;
}

#aboutUsButton:hover {
	opacity: 0.75;
}

p {
    grid-area: text;
    display: none;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pokemoninfo {
	display: grid;
	grid-template-columns: 4rem 1rem 1fr 0.25rem 1fr 0.25rem 1fr 0.25rem 1fr;
	grid-template-rows: 4rem 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto;
	grid-template-areas:
		"img . id . name name name name name"
		"img . . . . . . . ."
		"img . type type type type type type type"
		". . . . . . . . ."
		". . height height height . weight weight weight"
		". . . . . . . . ."
		". . candy candy candy . candycount candycount candycount"
		". . . . . . . . ."
		". . egg egg egg . spawnchance spawnchance spawnchance"
		". . . . . . . . ."
		". . avgspawns avgspawns avgspawns . spawntime spawntime spawntime"
		". . . . . . . . ."
		". . multipliers multipliers multipliers . weaknesses weaknesses weaknesses"
		". . . . . . . . ."
		". . nextevolution nextevolution nextevolution . prevevolution prevevolution prevevolution";
	background-color: rgb(152, 202, 185);
	margin-bottom: 0.5rem;
	padding: 0.5rem;
    overflow: hidden;
	cursor: pointer;
}

#img {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 4rem;
	height: 4rem;
}

#id {
    grid-area: id;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allpokemon {
    display: grid;
    width: 100%;
    grid-template-columns: 4rem 0.5rem 2fr 0.5rem 6fr;
    grid-template-areas: 
        "img . id . name";
    background-color: rgb(152, 202, 185);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid 1px;

}

#pokemonid, #pokemonname, #pokemontype, #pokemonheight, #pokemonweight, #pokemoncandy, #pokemoncandycount, #pokemonegg, #pokemonspawnchance, #pokemonavgspawns, #pokemonspawntime, #pokemonmultipliers, #pokemonweaknesses, #pokemonprevevolution, #pokemonnextevolution {
	display: flex;
	background-color: rgb(187, 221, 210);
	padding: 0.5rem;
	align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: pre;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	border-radius: 0.15rem;
}

#pokemonid {
	grid-area: id;
	background-color: rgb(151, 220, 229);
	justify-content: center;
}

#pokemonname {
	grid-area: name;
	background-color: rgb(216, 187, 202);
	font-weight: 600;
}

#pokemonimg {
	grid-area: img;
	width: 4rem;
	height: 4rem;
	padding: 0.25rem;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	user-select: none;
	border-radius: 0.15rem;
}

#pokemontype {
	grid-area: type;
}

#pokemonheight {
	grid-area: height;
}

#pokemonweight {
	grid-area: weight;
}

#pokemoncandy {
	grid-area: candy;
}

#pokemoncandycount {
	grid-area: candycount;
}

#pokemonegg {
	grid-area: egg;
}

#pokemonspawnchance {
	grid-area: spawnchance;
}

#pokemonavgspawns {
	grid-area: avgspawns;
}

#pokemonspawntime {
	grid-area: spawntime;
}

#pokemonmultipliers {
	grid-area: multipliers;
}

#pokemonweaknesses {
    grid-area: weaknesses;
}

#pokemonprevevolution {
	grid-area: prevevolution;
}

#pokemonnextevolution {
	grid-area: nextevolution;
}

.property {
	color: rgb(179, 147, 120);
}

@media only screen and (max-width: 720px){

    .pokemoninfo {
		grid-template-columns: 1fr 0.25rem 1fr;
		grid-template-rows: auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto 0.25rem auto;
		grid-template-areas:
			"id . name"
			". . ."
			"type type type"
			". . ."
			"height height height"
			". . ."
			"weight weight weight"
			". . ."
			"candy candy candy"
			". . ."
			"candycount candycount candycount"
			". . ."
			"egg egg egg"
			". . ."
			"spawnchance spawnchance spawnchance"
			". . ."
			"avgspawns avgspawns avgspawns"
			". . ."
			"spawntime spawntime spawntime"
			". . ."
			"multipliers multipliers multipliers"
			". . ."
			"weaknesses weaknesses weaknesses"
			". . ."
			"prevevolution prevevolution prevevolution"
			". . ."
			"nextevolution nextevolution nextevolution";
	}
	#pokemonimg {
		display: none;
	}
}

footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(95, 154, 209);
    align-items: center;
    justify-content: center;
}
