@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	font-weight: 300;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(129, 178, 238);
}

main {
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    grid-template-columns: 1fr 30vw 30vw 10vw 1fr;
    grid-template-rows: 4rem 2rem auto minmax(1rem, 1fr) 4rem;
    grid-template-areas: 
        "header header header header header"
        ". . . . ." 
        ". content content content ."
        ". . . . ."
        "footer footer footer footer footer";
}


/*-------------------------Estilo y elementos HEADER-----------------*/
header {
    grid-area: header;
	background-color: rgb(95, 154, 209);
	display : grid;
	grid-template-columns: 1fr 30vw 30vw 10vw 1fr;
	grid-template-areas: ". welcomemessage . infohomebutton .";
}


#welcomemessage {
	grid-area: welcomemessage;
	display: flex;
	font-size: 18 pt;
	align-items: center;
	justify-content: start;
	user-select: none;
}

#infobutton { 
	grid-area: infohomebutton;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
}

#infobutton:hover {
	opacity: 0.75;
}

#homebutton {
    grid-area: infohomebutton;
    display: none;
	align-items: center;
	justify-content: flex-end;
	overflow: hidden;
	cursor: pointer;
}

#homebutton:hover {
	opacity: 0.75;
}

/*-------------------------Estilo y elementos HOME SCREEN-----------------*/

#homescreen {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 30vw 30vw 10vw 1fr;
    grid-template-rows: auto 1rem 3rem 1rem 3rem 1rem 3rem 1rem auto;
    grid-template-areas:
        ". descriptionhomescreen descriptionhomescreen descriptionhomescreen ." 
        ". . . . ."
        ". search search search ."
        ". . . . ."
        ". filter filter filter ."
        ". . . . ."
        ". showandreset showandreset showandreset ."
        ". . . . ."
        ". results results results ."
        ". . . . ."
        "footer footer footer footer footer";
}

#descriptionhomescreen {
    grid-area: descriptionhomescreen;
	display: flex;
	font-size: 18 pt;
	align-items: center;
	justify-content: start;
	user-select: none;
}

#search {
    grid-area: search;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        "searchbar searchbutton";
    border: solid 1px;
}

#search:focus {
	box-shadow: inset 0px 0px 4px 2px rgba(255, 255, 255, 0.5);
}

#searchbar {
	grid-area: searchbar;
	display: block;
	background-color:rgb(120, 166, 223);
	padding: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
    border: 0;
}

#searchbar::placeholder {
    color: rgb(255, 255, 255);
    font-size: 12pt;
}

#searchbar:focus {
	outline: none;
}

#searchbutton {
    grid-area: searchbutton;
    display: flex;
    background-color:rgb(120, 166, 223);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
}

#searchbutton:hover {
	opacity: 0.75;
}

#filter {
    grid-area: filter;
    display: grid;
    grid-template-columns: 6fr 0.5rem 2fr 0.5rem 2fr;
    grid-template-areas: 
        "select . filterbutton . sortbutton";
}

select {
    grid-area: select;
    display: flex;
    background-color:rgb(129, 163, 238);
    padding: 1rem;
    font-size: 12pt;
	align-items: center;
	justify-content: center;
    user-select: none;
    border: solid 1px;
}

#filterbutton {
    grid-area: filterbutton;
    display: flex;
    background-color:rgb(129, 163, 238);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: solid 1px;
}

#filterbutton:hover {
	opacity: 0.75;
}

#sortbutton {

    grid-area: sortbutton;
    display: flex;
    background-color:rgb(129, 163, 238);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: 1px solid;
}

#sortbutton:hover {
	opacity: 0.75;
}

#showandreset {
    grid-area: showandreset;
    display: grid;
    grid-template-columns: 6fr 0.5rem 2fr;
    grid-template-areas: 
    "showall . resetbutton";
}

#showall {
    grid-area: showall;
    display: flex;
    background-color:rgb(224, 182, 162);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: solid 1px;
}

#showall:hover {
	opacity: 0.75;
}

#resetbutton {
    grid-area: resetbutton;
    display: flex;
    background-color:rgb(120, 166, 223);
    padding: 1rem;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
    user-select: none;
    border: 1px solid;
}

#resetbutton:hover {
	opacity: 0.75;
}

#results{
    grid-area: results;
    display: block;
}

#aboutusbutton {
    cursor: pointer;
}

#aboutusbutton:hover {
	opacity: 0.75;
}

#aboutusscreen {
    grid-area: content;
    display: none;
    grid-template-columns: 1fr 70vw 1fr;
    grid-template-areas:
        ". aboutustext .";
}

/*-------------------------ACERCA DE KANTODEX-----------------*/
#aboutustext {
    grid-area: aboutustext;
	display: flex;
	font-size: 18 pt;
	align-items: center;
	justify-content: start;
	user-select: none;
}

footer {
    grid-area: footer;
    display: flex;
    background-color: rgb(95, 154, 209);
    align-items: center;
    justify-content: center;
}
